{% extends 'recipes/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Create a recipe
{% endblock %}

{% block body_block %}
<div>
    <form enctype="multipart/form-data" id="recipe_form" method="POST" action="{% url 'recipes:add_recipe' %}">
        {% csrf_token %}

        {% for field in recipe_form %}
        {{ field.errors }}
        {% endfor %}

        <div class="justify-content-md-center">
            <div class="mb-3 row">

                <div class="col">
                <input type="text" name="form.title" class="form-control" placeholder="Name of Recipe">
                </div>
                <div class="col">
                <input type="file" name="form.image" accept=".jpg, .png, .jpeg" class="form-control" placeholder="Upload an image">
                </div>
                <div class="col input-group mb-3">
                    <label class="input-group-text" for="categoryInput">Category:</label>
                    <select class="form-select" id="categoryInput" name="form.category">
                        <option selected>None</option>
                        {% for c in form.getCategories %}
                        <option name="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3 row text-center">
                <div class="col">
                    <textarea class="form-control" placeholder="Method" style="height: 100px" name="form.content"></textarea>
                </div>
                <div class="col">
                    <textarea class="form-control" placeholder="Ingredients" name="form.ingredients" style="height: 100px"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col">
                    <input type="number" class="form-control" placeholder="Number of Servings" name="form.servings">
                </div>
                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon3">Cooking Time (Hours:Mins)</span>
                    <input type="time" class="form-control" name="form.cooking_time">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="form.tags" placeholder="Tags (Optional)">
                </div>
            </div>

        </div>
        <div class="text-center">
            <button type="submit" name="submit" value="Create recipe" class="btn btn-outline-success">Create Recipe</button>
        </div>
    </form>
</div>
{% endblock %}
