{% extends 'recipes/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Create a recipe
{% endblock %}

{% block body_block %}
<div>
    <h1>Add a Recipe</h1><br>
    <form enctype="multipart/form-data" id="recipe_form" method="POST" action="{% url 'recipes:add_recipe' %}">
        {% include 'recipes/recipe_form.html' with form=form %}
        <div class="text-center">
            <button type="submit" name="submit" value="Create recipe" class="btn btn-outline-success">Create Recipe</button>
        </div>
    </form>
</div>
{% endblock %}
