<!DOCTYPE html>
<html>
    <head>
        <title>Food For Thought</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'recipes:home' %}"><img src="home-icon.png" alt="Home"></a></li>
                    {# <li><a href="{% url 'recipes:make' %}">Make a recipe</a></li> #}
                </ul>
            </nav>
            <form>
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        {% if user.is_authenticated %}
            <a href="{% url 'recipes:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'recipes:login' %}">Login</a>
        {% endif %}
        </header>
        <main>
            {% block body_block %}
            {% endblock %}
        </main>
    </body>
</html>
