{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% load recipes_template_tags %}

{% block body_block %}
<div class = "container text-center mt-5">
    <div class="row mb-5">
        <div class="col">
            <div class="card w-75">
                <img src="{{ category.image.url }}" class="img-thumbnail rounded float-start" alt="Profile image">
            </div>
        </div>
        <div class="col">
            <div class="card w-75 border-success border-3">
                <div class="card-body">
                    <h2 class="card-title">{{ category.name }}</h2><br>
                    <p class="card-text">
                        <b>Description: {{ category.description }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="border border-success border-3 opacity-75 mb-5">

    <div class="row h-100 mb-5">
        <h2>Recipes</h2><br>
        {% if recipes %}
            {% include 'recipes/recipe_grid.html' with cards=recipes %}
        {% else %}
           <strong>There are no recipes present.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
