{% load recipes_template_tags %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'recipes:show_recipe' review.recipe.author.id review.recipe.slug %}">{{ review.recipe.title }}</a></h5>
        <p class="card-text">
        {{ review.content }} <br>
        Rating: {{ review.rating }}
        </p>
    </div>
    {% if request.user == review.author %}
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'recipes:edit_review' review.id %}" class="btn btn-outline-success">Edit</a>
            {% confirm_review_deletion review %}
        </div>
    </div>
    {% endif %}
</div><br>
