<div class="modal fade" id="{{ modal_id }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ modal_id }}Label">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          Are you sure you want to {{ message }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ action }}" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">
    {{ button_message }}
</button>
