{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block body_block %}
<h1>Are you sure?</h1><br>
<h5>Are you sure you want to delete the account with username: {{ user.username }}?</h5><br>
<div class="btn-group" role="group" aria-label="Basic example" style="padding-top:25px; padding-bottom:35px">
  <a href="{% url 'recipes:delete_account' %}" class="btn btn-outline-success">Yes, I'm sure</a>
  <a href="{% url 'recipes:show_user_account' %}" class="btn btn-outline-success">No, take me back</a>
</div>
{% endblock %}