{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% load recipes_template_tags %}

{% block title_block %}
    Edit a recipe
{% endblock %}

{% block body_block %}
<div>
    <h1>Edit Recipe: {{ recipe.title }}</h1><br>
    <form enctype="multipart/form-data" id="recipe_form" method="POST" action="{% url 'recipes:edit_recipe' recipe.id %}">
        {% include 'recipes/recipe_form.html' with form=form %}
        <div class="text-center">
            <button type="submit" name="submit" value="Edit recipe" class="btn btn-outline-success">Edit Recipe</button>
            {% confirm_recipe_deletion recipe %}
        </div>
    </form>
</div>
{% endblock %}
