{% extends 'recipes/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Edit a recipe
{% endblock %}

{% block body_block %}
<div>
    <form enctype="multipart/form-data" id="recipe_form" method="POST" action="{% url 'recipes:edit_recipe' user.id recipe %}">
        {% csrf_token %}
        <div class="mb-3">
            {% for field in form.visible_fields %}
            <label class="form-label">{{ field.help_text }}</label>
            {% if category %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu">
                    {% for category in Category.objects.all %}
                    <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            {{ field }}
            {% endif %}
            <br>
            {% endfor %}
        </div>
        <input type="submit" name="submit" value="Save Changes" />
    </form>
</div>
{% endblock %}
