{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% load recipes_template_tags %}

{% block body_block %}
<div class = "container text-center">
    <h1 class="fftTitle">Food For Thought</h1>
    <p class="lead mt-5">
      Welcome to Food For Thought! A dynamic recipe website that allows you to easily share, find and save your favourite recipes.
    </p><br>

    <div>
       <h2><a href="{% url 'recipes:categories' %}">Categories</a></h2><br>
    {% if categories %}
        {% categories_grid categories %}
    {% else %}
       <strong>There are no categories present.</strong>
    {% endif %}
    </div>


    <div>
       <br><h2>Highest Rated Recipes</h2><br>
    {% if recipes %}
        {% recipes_grid recipes request.user %}
    {% else %}
       <strong>There are no recipes present.</strong>
    {% endif %}
    </div>
</div>

{% endblock %}
