{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div>
   <h2><a href="{% url 'recipes:categories' %}">Categories</a></h2>
{% if categories %}
   <ul>
   {% for category in categories %}
       <li><img src="{{ category.image.url }}" alt="{{ category.name }} image"></li>
       <li><a href="{% url 'recipes:show_category' category.slug %}">{{ category.name }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <strong>There are no categories present.</strong>
{% endif %}
</div>


<div>
   <h2>Highest Rated Recipes</h2>
{% if recipes %}
   <ul>
   {% for recipe in recipes %}
       <li><img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image"></li>
       <li><a href="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">{{ recipe.title }}</a> {{ recipe.average_rating }}</li>
   {% endfor %}
   </ul>
{% else %}
   <strong>There are no recipes present.</strong>
{% endif %}
</div>


{% endblock %}
