{% extends 'recipes/base.html' %}
{% load staticfiles %}


{% block body_block %}
<h1>Login</h1>
<form id="login_form" method="post" action="{% url 'recipes:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="Submit" />
</form>
<p>Don't have an account? Sign up <a href="{% url 'recipes:signup' %}">here!</a></p>
{% endblock %}