{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <h1>Login</h1><br>
        {% if message %}
            {{ message }}
        {% endif %}
        <form id="login_form" method="post" action="{% url 'recipes:login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="usernameInput">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput">
            </div>
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
        </br>
        <p>Don't have an account?</p>
        <a href="{% url 'recipes:signup' %}" class="btn btn-outline-success">Sign Up</a>
    </div>
</div>
{% endblock %}
