{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% load recipes_template_tags %}


{% block body_block %}

{% if deleted %}
    <strong>Account successfully deleted. </strong>
    <a href="{% url 'recipes:home' %}">Return to the homepage.</a><br />
{% else %}

<div class = "container text-center mt-5">
    <div class="row mb-5">
        <div class="col">
            <div class="card w-75">
                <img src="{{ current_user.picture.url }}" class="m-1 rounded float-start" alt="Profile image">
                <div class="card-body">
                    <div class="btn-group" role="group">
                        <a href="{% url 'recipes:edit_account' %}" class="btn btn-outline-success">Edit Account</a>
                        {% confirm_account_deletion %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-75 border-success border-3">
                <div class="card-body">
                    <h2 class="card-title">{{ current_user.user.username }}</h2><br>
                    <p class="card-text">
                        <b>Name:</b> {{ current_user.user.first_name }} {{ current_user.user.last_name }}<br>
                        <b>Email:</b> {{ current_user.user.email }}<br>
                        <b>Bio:</b> {{ current_user.bio }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="border border-success border-3 opacity-75 mb-5">

       <h2><a href="{% url 'recipes:show_user_saved_recipes' %}">Saved Recipes</a></h2><br>
        {% if saved_recipes %}
           <h3 class="mb-5">Top Rated:</h3>
            {% recipes_grid saved_recipes request.user %}
        {% else %}
            <strong>There are no recipes present.</strong>
        {% endif %}

    <hr class="border border-success border-3 opacity-75 mb-5">

    <!-- <div class="row mb-5"> -->
    <!--     <div class="col"> -->
    <!--        <h2><a href="{% url 'recipes:show_user_reviews' %}">Your Reviews</a></h2><br> -->
    <!--         {% if written_reviews %} -->
    <!--             {% for review in written_reviews %} -->
    <!--                 <div class="card"> -->
    <!--                     <div class="card-body"> -->
    <!--                         <h5 class="card-title"><a href="{% url 'recipes:show_recipe' review.recipe.author.id review.recipe.slug %}">{{ review.recipe.title }}</a></h5> -->
    <!--                             <p class="card-text"> -->
    <!--                                 {{ review.content }} <br> -->
    <!--                                 Rating: {{ review.rating }} -->
    <!--                             </p> -->
    <!--                     </div> -->
    <!--                     <div class="card-footer"> -->
    <!--                         <div class="btn-group" role="group" aria-label="Basic example"> -->
    <!--                             <a href="{% url 'recipes:edit_review' review.id %}" class="btn btn-outline-success">Edit</a> -->
    <!--                             {% confirm_review_deletion review %} -->
    <!--                         </div> -->
    <!--                     </div> -->
    <!--                 </div><br> -->
    <!--             {% endfor %} -->
    <!--         {% else %} -->
    <!--        <strong>There are no reviews present.</strong> -->
    <!--     {% endif %} -->
    <!--     </div> -->
    <!---->
    <!--     <div class="col align-items-center"> -->
           <h2><a href="{% url 'recipes:show_user_recipes' %}">Your Recipes</a></h2><br>
        {% if written_recipes %}
            <h3 class="mb-5">Top Rated:</h3>
            {% recipes_grid written_recipes request.user %}
        {% else %}
           <strong>There are no recipes present.</strong>
        {% endif %}
<!--         </div> -->
<!--     </div> -->
</div>
{% endif %}
{% endblock %}
