{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if deleted %}
    <strong>Account successfully deleted. </strong>
    <a href="{% url 'recipes:home' %}">Return to the homepage.</a><br />
{% else %}

<div class = "container text-center mt-50" style="margin-top:50px">
    <div class="row" style="margin-bottom:50px">
        <div class="col">
            <div class="card w-75">
                <img src="{{ current_user.picture.url }}" class="img-thumbnail rounded float-start" alt="Profile image">
                <div class="card-body">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'recipes:edit_account' user.id %}" class="btn btn-outline-success">Edit Account</a>
                        <a href="{% url 'recipes:delete_account_confirmation' %}" class="btn btn-outline-success">Delete Account</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-75 border-success border-3">
                <div class="card-body">
                    <h2 class="card-title">{{ current_user.user.username }}</h2><br>
                    <p class="card-text">
                        <b>Name:</b> {{ current_user.user.first_name }} {{ current_user.user.last_name }}<br>
                        <b>Email:</b> {{ current_user.user.email }}<br>
                        <b>Bio:</b> {{ current_user.bio }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if error_message %}
        <div class="row mb-50">
            {{ error_message }}
        </div>
    {% endif %}

    <hr class="border border-success border-3 opacity-75" style="margin-bottom:50px">

    <div class="row" style="margin-bottom:50px">
       <h2><a href="{% url 'recipes:show_user_saved_recipes' %}">Saved Recipes</a></h2><br>
        {% if saved_recipes %}
            {% for recipe in saved_recipes %}
                <div class="card w-25 mb-25">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">{{ recipe.title }}</a></h5>
                        <p class="card-text">Rating: {{ recipe.average_rating }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'recipes:unsave_recipe_confirmation' user.id recipe.id %}" class="btn btn-outline-success">Unsave</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <strong>There are no recipes present.</strong>
        {% endif %}
    </div>

    <hr class="border border-success border-3 opacity-75" style="margin-bottom:50px">

    <div class="row" style="margin-bottom:50px">
        <div class="col">
           <h2><a href="{% url 'recipes:show_user_reviews' %}">Your Reviews</a></h2><br>
            {% if written_reviews %}
                {% for review in written_reviews %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'recipes:show_recipe' review.recipe.author.id review.recipe.slug %}">{{ review.recipe.title }}</a></h5>
                                <p class="card-text" style="text-align:left">
                                    {{ review.content }} <br>
                                    Rating: {{ review.rating }}
                                </p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'recipes:edit_review' current_user.user.id review.id %}" class="btn btn-outline-success">Edit</a>
                                <a href="{% url 'recipes:delete_review_confirmation' user.id review.id %}" class="btn btn-outline-success">Delete</a>
                            </div>
                        </div>
                    </div><br>
                {% endfor %}
            {% else %}
           <strong>There are no reviews present.</strong>
        {% endif %}
        </div>

        <div class="col align-items-center">
           <h2><a href="{% url 'recipes:show_user_recipes' %}">Your Recipes</a></h2><br>
        {% if written_recipes %}
           {% for recipe in written_recipes %}
                   <div class="card w-50 mx-auto">
                       <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.title }} image">
                       <div class="card-body">
                           <h5 class="card-title"><a href="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">{{ recipe.title }}</a>{{ recipe.average_rating }}</h5>
                       </div>
                       <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'recipes:edit_recipe' user.id recipe.id %}" class="btn btn-outline-success">Edit</a>
                        <a href="{% url 'recipes:delete_recipe_confirmation' user.id recipe.id %}" class="btn btn-outline-success">Delete</a>
                    </div>
                        </div>
                   </div><br>
           {% endfor %}
        {% else %}
           <strong>There are no recipes present.</strong>
        {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
