{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% load recipes_template_tags %}

{% block body_block %}
<div class = "container text-center mt-5">
    <h2>Your Reviews</h2><br>
    <div class="row mb-5">
        {% if written_reviews %}
            {% for review in written_reviews %}
                {% include 'recipes/comment_card.html' with review=review %}
            {% endfor %}
        {% else %}
            <strong>There are no recipes present.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
