{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block body_block %}
<h2>{{ account_user.username }}</h2>
<li><img src="{{ user_profile.picture.url }}" alt="{{ account_user.username }} image"></li>
<li>{{ user_profile.bio }}</li>

<div>
   <h2><a href="{% url 'recipes:show_non_user_recipes' account_user.id %}">{{ account_user.username }}'s Recipes</a></h2><br>
{% if written_recipes %}
   <ul>
   {% for recipe in written_recipes %}
       <li><img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image"></li>
       <li><a href="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">{{ recipe.title }}</a> {{ recipe.average_rating }}</li>
   {% endfor %}
   </ul>
{% else %}
   <strong>There are no recipes present.</strong>
{% endif %}
</div>

<div>
   <h2>{{ account_user.username }}'s Reviews</h2>
{% if written_reviews %}
   <ul>
   {% for review in written_reviews %}
       <li>{{ review.recipe.title }}</li>
       <li>{{ review.rating }}</li>
       <li>{{ review.content }}</li>
   {% endfor %}
   </ul>
{% else %}
   <strong>There are no reviews present.</strong>
{% endif %}
</div>
{% endblock %}
