{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% load recipes_template_tags %}

{% block body_block %}
<div class="container justify-content-md-center mb-3">
    <div class="text-center mb-3">
        <h2 class="text-center">{{ recipe.title }}</h2>
        <div class="m-2">
            Author: <a href = "{% url 'recipes:show_non_user_account' recipe.author.id %}">{{ recipe.author }}</a>
        </div>
        <div class="mb-2">
            {% if user.is_authenticated %}
                 {% include 'recipes/toggle_save_button.html' with recipe=recipe %}
            {% endif %}
        </div>
        <hr class="border border-success border-3 opacity-75 mb-5">
    </div>
    <div class="row">
    <div class="card mb-3 mx-4" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 p-1 justify-content-end">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image" class="img-fluid rounded-start object-fit-cover card-img-center">
            </div>

        <div class="col-md-8">
            <div class="card-body">
            <ul class="list-group list-group-flush">
                {% if recipe.category %}
                     <li class="list-group-item">Category:
                         {% for c in recipe.category.all %}
                         <a href="{% url 'recipes:show_category' c.slug %}">{{ c.name }}</a>
                         {% endfor %}
                     </li>
                {% else %}
                     <li class="list-group-item disabled">Category: None</li>
                {% endif %}
                <li class="list-group-item">Serves: {{ recipe.servings }}</li>
                <li class="list-group-item">Cooking Time: {{ recipe.cooking_time }}</li>
                <li class="list-group-item">Tags: {{ recipe.tags }}</li>
                <li class="list-group-item">Average Rating: {{ average_rating|floatformat:"1" }}</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
        <div class="col mx-5">
            <h2 class="text-center">Ingredients</h2><br>
            <p>{{ recipe.ingredients }}</p>
        </div>
    </div>

    <hr class="border border-success border-3 opacity-75 mb-5">

    <div class="row justify-content-around">
        <div class="col mx-5">
            <h2 class="text-center">Method</h2>
            <p>{{ recipe.content }}</p>
        </div>
    </div>
</div>

<hr class="border border-success border-3 opacity-75 mb-5">

<div class="row">
    <div class="col mx-5">
        {% if review_form %}
             <h3 class="text-center">Leave a Review:</h3>
             <div>
                 <form id="review_form" method="POST" action="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">
                     {% csrf_token %}
                         <div class="rating">
                             <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                             <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                             <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                             <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                             <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                         </div>
                         <div class="form-floating mb-3">
                             <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="content"></textarea>
                             <label for="floatingTextarea">Comments</label>
                         </div>
                     <div class="text-center">
                         <button class="btn btn-outline-success" type="submit" name="submit" value="Post review">Post Review</button>
                     </div>
                 </form>
             </div>
        {% endif %}
    </div>

    {% if review_form %}
          <div class="col mx-5">
              {% else %}
    <div class="mx-5">
        {% endif %}
    {% if reviews %}
         <h3 class="text-center">Reviews</h3>
    {% endif %}
    {% for review in reviews %}
         <div class="card mb-3 row justify-content-center mx-5">
             <div class="card-body justify-content-center ">
                 <div class="col-4">
                     <h5 class="card-title"><a href="{% url 'recipes:show_non_user_account' review.author.id %}">{{ review.author.username }}</a></h5>
                 </div>
                 <div class="col-4">
                     <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-star-fill text-warning"></i>{{ review.rating }}</h6>
                 </div>
                 <p class="card-text">{{ review.content }}</p>
             </div>
         </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
