{% extends 'recipes/base.html' %}
{% load staticfiles %}


{% block body_block %}
<div>
    <h2>{{ recipe.title }}</h2>
    <li>Serves: {{ recipe.servings }}</li>
    <li>Cooking Time: {{ recipe.cooking_time }}</li>
    <li>Rating: {{ average_rating }}</li>
    <li>Tags: {{ recipe.tags }}</li>
    <li><img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image"></li>
    <li>Author: <a href = "{% url 'recipes:show_non_user_account' recipe.author.id %}">{{ recipe.author }}</a></li>
{% if categories %}
    <li>Category: <a href="{% url 'recipes:show_category' category.slug %}">{{ recipe.category.name }}</a></li>
{% endif %}
</div>

<div>
    <h2>Ingredients</h2>
    <h4>{{ recipe.ingredients }}</h4>
</div>

<div>
    <h2>Methods</h2>
    <h4>{{ recipe.content }}</h4>
</div>

<div>
    <form id="review_form" method="POST" action="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        <br>
        {% endfor %}
        <input type="submit" name="submit" value="Post review" />
    </form>
</div>
{% endblock %}
