{% load recipes_template_tags %}

<div class="card h-100">

<img src="{{ recipe.image.url }}" class="card-img-top" height="250" alt="{{ recipe.title }} image">
<div class="card-body">
    <h5 class="card-title"><a href="{% url 'recipes:show_recipe' recipe.author.id recipe.slug %}">{{ recipe.title }}</a></h5>
    <p class="card-text"><i class="bi bi-star-fill text-warning"></i> {{ recipe.average_rating|floatformat:"1" }}</p>

</div>
{% if recipe.author == user %}
<div class="card-footer">
    <div class="btn-group" role="group">
        <a href="{% url 'recipes:edit_recipe' recipe.id %}" class="btn btn-outline-success">Edit</a>
        {% confirm_recipe_deletion recipe %}
    </div>
</div>
{% else %}
<div class="card-footer">
    {% if recipe in user.userprofile.saved %}
    {% confirm_recipe_unsave card %}
    {% endif %}
    <p class="card-text"><small class="text-muted">Written by <a href="{% url 'recipes:show_non_user_account' recipe.author.id %}">{{ recipe.author.username }}</a></small></p>
</div>
{% endif %}

</div>
