{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <h1>Sign Up</h1><br>
        {% if registered and not editing %}
             <strong>Thank you for registering!</strong>
             <a href="{% url 'recipes:login' %}">Return to the login.</a><br />
        {% else %}
             <strong>Sign up here!</strong><br /><br>
             <form id="user_form" class="needs_validation" novalidate method="post" action="{% url 'recipes:signup' %}" enctype="multipart/form-data">

                  {% csrf_token %}

                 <div class = "mb-3">
                     <input type="text" class="form-control" name="username" placeholder="Username">
                     <div class="invalid-feedback">
                         Please enter a username
                     </div>
                 </div>
                 <div class = "mb-3">
                     <input type="email" class="form-control" name="email" placeholder="Email">
                     <div class="invalid-feedback">
                         Please enter an email
                     </div>
                 </div>
                 <div class = "mb-3">
                     <input type="password" class="form-control" name="password" placeholder="Password">
                     <div class="invalid-feedback">
                         Please enter a valid password
                     </div>
                 </div>

                 <div class="input-group mb-3">
                     <label class="input-group-text" for="pictureInput">Profile pic</label>
                     <input type="file" class="form-control" name="picture" id="pictureInput">
                 </div>
                 <div class="input-group">
                     <label class="input-group-text" for="bioInput">Bio</label>
                     <textarea class="form-control" placeholder="Tell us a bit about yourself..." name="bio" id="bioInput"></textarea>
                 </div><br>

                 <div class="text-center">
                     <button type="submit" name="submit" value="Register" class="btn btn-outline-success">Register</button>
                 </div>
             </form>
        {% endif %}
    </div>
</div>
{% endblock %}