{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Edit Account
{% endblock %}

{% block body_block %}
<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <h1>Edit Account</h1><br>
        <div>
            {% if edited %}
                 <strong>Changes saved.</strong>
                 <a href="{% url 'recipes:login' %}">Please log back in.</a><br />
            {% endif %}
            <br>
            <form id="user_form" method="post" action="{% url 'recipes:edit_account' %}" enctype="multipart/form-data">
                {% csrf_token %}

                {% if user_form.errors or profile_form.errors %}
                    <div class="alert alert-danger">
                        {{ user_form.errors }}
                        {{ profile_form.errors }}
                    </div>
                 {% endif %}

                <div class = "mb-3">
                    <input type="text" class="form-control" name="username" value="{{ user.get_username }}" placeholder="Username" >
                </div>

                <div class = "mb-3">
                    <input type="text" class="form-control" name="firstname" value="{{ user.first_name }}" placeholder="First Name" >
                </div>

                <div class = "mb-3">
                    <input type="text" class="form-control" name="lastname" value="{{ user.last_name }}" placeholder="Last Name" >
                </div>

                <div class = "mb-3">
                    <input type="email" class="form-control" name="email" value="{{ user.email }}" placeholder="Email Address" >
                </div>

                <div class = "mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" >
                </div>

                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="picture" value="{{ user.userprofile.picture }}" >
                    <button class="btn btn-danger" formaction="{{ user.userprofile.picture.clear }}" value="Remove pic">Remove pic</button>
                </div>

                <div class="input-group">
                    <label class="input-group-text" for="bioInput">Bio</label>
                    <textarea class="form-control" name="bio" id="bioInput" placeholder="Tell us a bit about yourself...">{{ user.userprofile.bio }}</textarea>
                </div>

                <br><br>

                <div class="text-center">
                    <button type="submit" name="submit" value="Save Changes" class="btn btn-success">Save Changes</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}